/* variabeln */
:root {
    /* light */
    --bg-body-light: rgb(255, 255, 255);
    --color-light: rgb(0, 0, 255);
    /* dark */
    --bg-body-dark: rgb(0, 0, 0);
    --color-dark: rgb(255, 255, 0);
  }
/* elemente */
body {
    background: url('../assats/images/logoLight.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-body-light);
    color: var(--color-light);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--color-light);
}

li a {
  display: block;
  color: var(--color-light);
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: var(--color-light);
}
  /* Classen */

    /* eigene */
    .logo{
        min-width: 250px;
    }
    .dark-mode {
        background: url('../assats/images/logoDark.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--bg-body-dark);
        color: var(--color-dark);
    }

    /* W3 */
  
    .dropdown {
        position: relative;
        display: inline-block;
    }
    

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--color-light);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* remove the gap so it doesn't close */
    }

/* id */
